[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
items = "*"
importlib = "*"
requests = "~=2.26.0"
itemloaders = "~=1.0.4"
itemadapter = "~=0.4.0"
Scrapy = "~=2.5.1"
psycopg2-binary = "*"
dynaconf = "*"

[dev-packages]

[requires]
python_version = "3.9"
